name: "Run and deploy to yaml"

on:
  push:
    branches: [ "master" ]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist_credentials: false
        
      - name: Set up python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Install pypa/build
        run: python -m pip install build --user
      - name: Build the package .whl .tar.gz
        run: python3 -m build
      - name: Store distribution packages
        uses: actions/upload-artifact@v5
        with: 
          name: python-package-distributions
          path: dist/
  publish-to-pypi:
    needs: ["build"]
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/chess-env-rl
    permissions:
      id-token: write
    steps:
    - name: Download all dists
      uses: actions/download-artifact@v6
      with:
        name: python-package-distributions
        path: dist/
    - name: Publish distribution to pypi
      uses: pypa/gh-action-pypi-publish@release/v1

        
